* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(90deg, #ff924f, #562205);
    max-width: max-content;
    margin: auto;
  }

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    border-top: 0.4px solid;
    width: 100%;
    max-width: 1120px;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents .title {
    text-align: center;
    margin-bottom: 32px;
}

.contents .main-title {
    color: white;
    font-size: 48px;
}

.contents .input {
    text-align: center;
    font-size: 22px;
    color: white;
}

/* Div Button Sorteio */
.container-button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

/*Button Sorteio*/
.button-draw {
    border: 0;
    cursor: pointer;
    font-size: 24;
    border-radius: 10px;
    padding: 10px;
}